.persona__imagen{
    width: 261px;
    height: 261px;
    top: 2257px;
    left: -656px;
    border-radius: 100%;
    
}

.persona__imagen--roberta{
 background-image: url(/arquitectura-css-base-main/assets/img/personas/roberta.jpg);
}

.persona__imagen--marcela{
background-image: url(/arquitectura-css-base-main/assets/img/personas/marcela.jpg);
}

.persona__imagen--andrea{
background-image: url(/arquitectura-css-base-main/assets/img/personas/andrea.jpg);
}